#pot{bottom:15%;
    position:absolute;
    -webkit-animation:linear;
    -webkit-animation-name: countdown;
    -webkit-animation-duration: 10s;
    }     
    @-webkit-keyframes run {
        0% { left: 0;}
        100%{ left : 100%;}
    }
    @-webkit-keyframes countdown {
        from {
          width: 100%;
          background-color: #f2f2f2;
        }
        to {
          width: 0%;
          background-color: #ff0000;
        }
      }