* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .card-header {
    font-size: 24px;
  }
  
  .card-score {
    font-size: 36px;
    font-weight: bold;
  }
  
  
  
  .header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Place mapid in center of screen*/
  #mapid {
    height: 500px;
    width: 1000px;
    margin: 100 auto 20px;


  }

  
  #score-table {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  #level-header,
  #counter,
  #marker-location {
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
  }

  #countdown {
    width: 100%;
    height: 50px;
    background-color: #f00;
  }

  #timer-container {
    width: 1000px;
    height: 50px;
    background-color: #ccc;
    position: relative;
  }
  
  #timer {
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    position: absolute;
    left: 0;
    top: 0;
    animation: countdown 10s linear forwards;
  }
  

  @-webkit-keyframes countdown {
      from {
          width: 100%;
          background-color: #19e162;
      }
      to {
          width: 0%;
          background-color: #ff0000;
      }
    }

  
  